/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("image/banner.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: 60rem;
}


.heroTitle{
  font-size: 6rem;
  color:#ffffff;
  text-align: right;
  padding-right: 10rem;
}

.subTitle{
  font-size: 72px;
  color:#000000;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    min-height: 30rem; 
  }

  .heroTitle{
    font-size: 2.5rem;
    padding-right: 1rem;
  }
}
